<!doctype html>
<html class="no-js" lang="pl">

    <!-- partial:views/_head.html -->
    <!-- partial -->

    <body>

            <header class="header-main header-main--blue fixed-top">
                <!-- partial:views/_header.html -->
                <!-- partial -->
            </header>

            <main class="main pt-0">
                <section class="section-default section-entry-main bg-blue">
                    <div class="container"> 
                        <div class="row">
                            <div class="col-12 col-sm-6">
                                <h1 class="entry-heading">O firmie</h1>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="section-text-col">
                                    <p class="text-section">Od 2005 roku zajmujemy się dystrybucją i sprzedażą mebli oraz foteli biurowych. Dzięki ogromnemu zaangażowaniu naszych pracowników regularnie się rozwijamy. Od zawsze idziemy z duchem czasu, dlatego też stale rozwijamy naszą działalność. Aktualnie oferujemy nie tylko wygodne gabinetowe fotele i sofy, ale także ergonomiczne krzesła dla szkół i przedszkoli oraz funkcjonalne meble biurowe.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="section-default section-img-skew">
                    <div class="container">
                        <figure class="section-img-skew-left" style="background-image: url('img/about-us.jpg');"></figure>
                        <span class="sep"></span>
                        <figure class="section-img-skew-right" style="background-image: url('img/about-us-two.jpg');"></figure>
                    </div>
                </section>
                <section class="section-default section-counter section-counter--brand">
                    <div class="container">
                        <div class="row" id="counterJs">
                            <div class="col-6 col-sm-6 col-md-3"> 
                                <div class="section-counter__item">
                                    <span class="number counter-item" data-count="13"></span>
                                    <p>lat doświadczenia<br> w dystrybucji i sprzedaży<br> mebli oraz foteli</p>
                                </div>
                            </div>
                            <div class="col-6 col-sm-6 col-md-3">
                                <div class="section-counter__item">
                                    <div class="counter-unit"><span class="number counter-item" data-count="56"></span><span class="c-unit">+</span></div>
                                    <p>Profesjonalnych realizacji<br> dla firm oraz instytucji<br> publicznych</p>
                                </div>
                            </div>
                            <div class="col-6 col-sm-6 col-md-3">
                                <div class="section-counter__item">
                                    <span class="number counter-item" data-count="1340"></span>
                                    <p>Najlepszych mebli i wyposażenia<br> w naszym sklepie</p>
                                </div>
                            </div>
                            <div class="col-6 col-sm-6 col-md-3">
                                <div class="section-counter__item">
                                    <span class="number counter-item" data-count="22"></span>
                                    <p>Wykwalifikowanych i<br> doświadczonych pracowników<br> służących Państwu</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- section seperator -->
                <div class="container">
                    <div class="row">
                      <div class="col-12">
                          <hr class="default-line">
                      </div>
                    </div>
                </div>
                <!-- section seperator -->
                <aside class="section-default aside-offer">
                    <div class="container">
                        <div class="aside-offer__content">
                            <h3 class="small-section-heading">Zamów EFEKTowne meble<br> do Twojego biura</h3>
                            <a href="oferta.html" class="btn-main btn-main--icon-right">Przejdź do oferty<span class="icon icon-next"></span></a>
                        </div>
                    </div>
                </aside>
                <!-- section seperator -->
                <div class="container d-none-lg">
                    <div class="row">
                      <div class="col-12">
                          <hr class="default-line">
                      </div>
                    </div>
                </div>
                <!-- section seperator -->
            </main>
            
            <footer class="footer-main">
                <!-- partial:views/_footer.html -->
                <!-- partial -->
            </footer>
 

        <!-- partial:views/_scripts.html -->
        <!-- partial -->

    </body>
</html>
