<!doctype html>
<html class="no-js" lang="pl">

    <!-- partial:views/_head.html -->
    <!-- partial -->

    <body>

            <header class="header-main header-main--blue fixed-top">
                <!-- partial:views/_header.html -->
                <!-- partial -->
            </header>

            <main class="main pt-0">
                <section class="section-default section-entry-main bg-blue">
                    <div class="container"> 
                        <div class="row">
                            <div class="col-12 col-sm-6">
                                <h1 class="entry-heading">O firmie</h1>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="section-text-col">
                                    <p class="text-section">Od 2005 roku zajmujemy się dystrybucją i sprzedażą mebli oraz foteli biurowych. Dzięki ogromnemu zaangażowaniu naszych pracowników regularnie się rozwijamy. Od zawsze idziemy z duchem czasu, dlatego też stale rozwijamy naszą działalność. Aktualnie oferujemy nie tylko wygodne gabinetowe fotele i sofy, ale także ergonomiczne krzesła dla szkół i przedszkoli oraz funkcjonalne meble biurowe.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- section seperator -->
                <div class="container">
                    <div class="row">
                      <div class="col-12">
                          <hr class="default-line">
                      </div>
                    </div>
                </div>
                <!-- section seperator -->
                <aside class="section-default aside-offer">
                    <div class="container">
                        <div class="aside-offer__content">
                            <h3 class="small-section-heading">Zamów EFEKTowne meble<br> do Twojego biura</h3>
                            <a href="oferta.html" class="btn-main btn-main--icon-right">Przejdź do oferty<span class="icon icon-next"></span></a>
                        </div>
                    </div>
                </aside>
                <!-- section seperator -->
                <div class="container d-none-lg">
                    <div class="row">
                      <div class="col-12">
                          <hr class="default-line">
                      </div>
                    </div>
                </div>
                <!-- section seperator -->
            </main>
            
            <footer class="footer-main">
                <!-- partial:views/_footer.html -->
                <!-- partial -->
            </footer>
 

        <!-- partial:views/_scripts.html -->
        <!-- partial -->

    </body>
</html>
